@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[300px] transition-all duration-300 rounded-full group-hover:border group-hover:border-gray-500 px-3 py-1 focus:outline-none dark:border-gray-800 dark:bg-gray-900 group-hover:dark:bg-gray-800;
  }
}

@layer components {
  .button {
    @apply bg-[#ed1b35] hover:bg-[#0394d9] transition-colors duration-300 ease-in-out text-white px-20 py-4 font-medium text-lg;
  }
}

/* Ẩn nút tăng giảm input trong type number */
@layer base {
  /* Chrome, Edge, Safari */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}