@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[300px] transition-all duration-300 rounded-full group-hover:border group-hover:border-gray-500 px-3 py-1 focus:outline-none dark:border-gray-800 dark:bg-gray-900 group-hover:dark:bg-gray-800;
  }
}

@layer components {
  .button {
    @apply bg-[#ed1b35] hover:bg-[#0394d9] transition-colors duration-300 ease-in-out text-white px-20 py-4 font-medium text-lg;
  }
}


/* Ẩn spin buttons nút tăng giảm ở các ô input cho các trình duyệt dựa trên Webkit (Chrome, Safari, Edge) */
.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ẩn spin buttons cho Firefox */
.no-spin {
  -moz-appearance: textfield;
}